* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* button */
.btn {
  width: auto;
  height: 32px;
  padding: 0 12px;
  white-space: nowrap;
  background-color: #00897B;
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
}
.btn.error, .btn.del {
  background-color: #E53935;
}
.btn:active,
.btn:focus {
  outline: none;
}

/* input */
.inp-box {
  display: block;
  width: 100%;
  max-width: 280px;
}
.inp-box input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 32px;
  padding: 0 12px;
  background-color: #FFF;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.inp-box input:focus {
  outline: 1px solid #00897B;
}

/* flex */
.flex-center {
  display: flex;
  align-items: center;
  gap: 8px;
}