::-webkit-scrollbar {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px 40px 1fr;
  width: 100vw;
  height: 100vh;
}

@mixin flex ($direction: row, $align: stretch, $justify: start, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  flex-wrap: $wrap;
}

$gap_padding_radius: 20px;

header {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: auto auto 3fr auto auto auto;
  justify-items: center;
  align-items: center;
  gap: $gap_padding_radius;
  padding: $gap_padding_radius;
  form {
    @include flex;
    padding: 0 10%;
    width: 100%;
    button {
      width: 60px;
      height: 40px;
      border-radius: 0 $gap_padding_radius $gap_padding_radius 0;
      border: 1px solid lightgray;
      background-color: rgb(245, 245, 245);
      border-left: transparent;
      display: grid;
      place-items: center;
    }
    
    input {
      width: 100%;
      height: 40px;
      border-radius: $gap_padding_radius 0 0 $gap_padding_radius;
      padding-left: $gap_padding_radius;
      border: 1px solid lightgray;
      font-size: 1.1rem;
      color: lightgray;
      font-weight: 200;
    }
  }
}



nav {
  grid-row: 2 / 4;
  width: 80px;
  ul {
    list-style-type: none;
    @include flex(column);
    gap: 30px;
    li {
      @include flex(column, center);
      font-size: 0.6rem;
    }
  }
}

#tab {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: $gap_padding_radius;
  padding-right: $gap_padding_radius;
  ul {
    list-style: none;
    @include flex($gap: 10px);
    overflow: hidden;
    li {
      background-color: rgb(245, 245, 245);
      padding: 8px;
      border-radius: 8px;
      font-size: 0.8rem;
      white-space: nowrap;
      &:first-child {
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
}

main {
  width: 100%;
  padding: $gap_padding_radius;
  @include flex($align: flex-start, $wrap: wrap);
  section {
    width: 50%;
    height: auto;
    padding: 10px;
    & > img {
      width: 100%;
      border-radius: 10px;
    }
    & > div {
      @include flex(wor, $gap: 10px);
      padding-top: 10px;
      img {
        width: 30px;
        border-radius: 100%;
      }
      
      p:first-child {
        font-weight: 600;
      }
      p:last-child {
        font-size: 0.9rem;
        color: gray;
      }
    }
  }
}

@mixin flex($direction: row, $align: start, $justify: start, $wrap: nowrap, $gap: 0){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}