.animal-box  {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 520px;
  margin-top: 12px;
}
.animal-box li {
  width: calc(33.333% - 8px);
}
.animal-box li .img-box {
  display: block;
  height: 110px;
}
.animal-box li .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.animal-box li .name {
  text-align: center;
}
.animal-detail-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.animal-detail-box .img-box {
  display: block;
  width: 120px;
  height: 120px;
}
.animal-detail-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}